...
<a
  href="{{ card_product.url }}"
  id="CardLink-{{ section_id }}-{{ card_product.id }}"
  class="full-unstyled-link"
  aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}"
>
  {{ card_product.title | escape | highlight: search_by }}
</a>
...